body {
    background-color: #000000;
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

span {
    color: #22D4FD;
    border: 1px solid #22D4FD;
    padding: 10px;
}